<ion-view title="Login" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <label class="item item-input" id="login-input3" name="login">
        <span class="input-label">Login</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="login-input4" name="pass">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="login-button1" class="button button-positive button-block">Enter</button>
  </ion-content>
</ion-view>